$backgrounds: (
    body-background-color: ghostwhite,
    display-background-color: hsl(165, 32%, 55%),
    drum-pad-background-color: cadetblue
);

$border-styles: (
    display-border: thin solid hsl(165, 25%, 35%),
    drum-pad-container-border: none,
    drum-pad-border: thin solid #457173
);

$text-styles: (
    default-color-text: #383939,
    drum-machine-text: white
);

$breakpoints: (
    small-breakpoint: 25rem, 
    medium-breakpoint: 37.5rem
);

$variables: map-merge(
    map-merge($backgrounds, $border-styles),
    map-merge($text-styles, $breakpoints)
);