header h1 {
    /* layout rules */
    margin-bottom: 0.25rem;
    // margin-left: 0.15rem;
    padding: 0;
    height: 5vh;

    /* style rules */
    @include styleText($color-css: --default-color-text, $min-font-size: 0.5rem);
}